[submodule "assets"]
	path = assets
	url = git@elif.site:node/vue/assets.git
[submodule "components/element-ui"]
	path = components/element-ui
	url = git@elif.site:node/vue/components/element-ui.git
[submodule "components/custom"]
	path = components/custom
	url = git@elif.site:node/vue/components/custom.git
